<div class="convertal-panel">
    <div class="formatter">
        <div class="amount-input">
            <label for="amount">Amount</label>
            <input  type="number" id="amount" [(ngModel)]="amount" >
        </div>

        <div class="swapping-inputs">
            <div class="input-group">
                <label for="fromCurrency">From</label>
                <select [(ngModel)]="from" id="fromCurrency" [disabled]="!amount">
                    <option [value]="currency.key" *ngFor="let currency of currencies|keyvalue">{{currency.key}}</option>
                </select>
            </div>

            <div class="input-group">
                <button [disabled]="!amount" class="swap-button">
                    <img src="../../assets/images/swap.png" alt="swap">
                </button>
            </div>

            <div class="input-group">
                <label for="toCurrency">To</label>
                <select [(ngModel)]="to"  id="toCurrency" [disabled]="!amount">
                    <option [value]="currency.key" *ngFor="let currency of currencies|keyvalue">{{currency.key}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="convert-button">
        <button class="convert-button" [disabled]="!amount" >Convert</button>
    </div>

    <div class="formatter">
        <div class="amount-input">
            <label class="relation">1.00 EUR = XXXX USD</label>
        </div>

        <div class="swapping-inputs">
            <div class="input-group">
                <label class="converted-value" >XXX USD</label>
            </div>

            <div class="details-button" >
                <button [disabled]="!amount" routerLink="/details">More Details</button>
            </div>
        </div>
    </div>

</div>
