<app-header (conversion)="onConversion($event)"></app-header>

<h2 *ngIf="isActiveRoute('/')">Currency Exchanger</h2>
<div class="details-panel" *ngIf="isActiveRoute('/details')">
  <h2>{{currencyConversion.from}} - {{symbols[currencyConversion.from]}}</h2>
  <button routerLink="/">Back to Home</button>
</div>

<app-converter-panel (conversion)="onConversion($event)"></app-converter-panel>

<app-home [currencyConversion]="currencyConversion" *ngIf="isActiveRoute('/')"></app-home>
<app-details *ngIf="isActiveRoute('/details')"></app-details>