.container {

    height: 400px;
    width: 100%;


    .chart {
        margin-top: 25px;
        border: solid 1px whitesmoke;
        background-color: #242323;
        width: 100%;
        border-radius: 10px;
        height: 100%;
        display: flex;
        justify-content: center;


    }

}