
$font-color:whitesmoke;
$bg-color:#242323;

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3,31%);
  
  row-gap: 20px;
  column-gap: 40px;
  margin-top: 20px;
  padding: 10px;

  .currency-card {
    background-color: rgb(19, 19, 19);
    padding: 40px;
    border: 1px solid $font-color;
    border-radius: 5px;
    text-align: center;
  
    h3{
      color: $font-color;
      font-size: 22px;
    }
  }
}